*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.glsdefs 
*.ilg
*.ind
*.lof
*.lot
*.lol
*.log
*.toc
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.run.xml 
*-blx.bib
*.fls
*.fdb_latexmk
*.pyg
_minted-main/
cache/_minted-main/